<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:label="Smoking Tracker"
        android:icon="@mipmap/nosmoking"
        android:roundIcon="@mipmap/nosmoking"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmokingTracking">

        <activity
            android:name=".SmokingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>